*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy-Regular', sans-serif;
}

body{
    background-color: #ccc;
}

.container{
    max-width: 900px;
    margin: 0 auto;
}

.apply-box{

    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 4px 3px 5px rgba(1 ,1 ,1, 0.1);
    border-radius: 10px;
}

.title-small{
    font-size: 20px;
}


.form-container{
    
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap: 20px;
}

.form-control{

    display: flex;
    flex-direction: column;
}

label{
    font-size: 15px;
    margin-bottom: 5px;
}

input,select,textarea{

    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 15px;

}

input,select,textarea:focus{

    outline-color: crimson;
}

.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 30px;
}

.button-container button{

    padding: 10px 15px;
    border: none;
    font-size: 15px;
    font-family: 'Gilroy-Bold', sans-serif;
    background-color: rgb(63, 172, 134);
    color: #fff;
    border-radius: 10px;
    transition: transform 0.3s ease,box-shadow 0.3s ease;
}

.button-container button:hover{

    background-color: rgb(21, 110, 81);
    transform: scale(0.89);
    box-shadow: 10px 10px 50px 20px rgba(1 ,1 ,1, 0.1);
    cursor: pointer;

}

.textarea-control{
   grid-column: span 2;
}

.textarea-control textarea{
    width: 100%;
}

/* FIRST: 600px breakpoint */
@media screen and (max-width:600px) {
    .container{
        padding: 10px 20px;
    }
}

/* THEN: 460px breakpoint */
@media screen and (max-width:500px) {
    .textarea-control{
        grid-column: span 1;
    }
}